
.infoDiv{
	width: 70%;
	height: auto;
	text-align: center;
    background: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkgrey;
    border-radius: 15px;
    opacity: 0.85;

}

.infoDiv > h2 {
	color: firebrick;
}